.Admin {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__touchable {
    z-index: 3;
  }

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__confirm {
    background-color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;

    &-title {
      font-size: 40px;
      margin-bottom: 20px;
    }

    &-buttons {
      position: relative;

      &--reset, &--info, &--setup {
        border: 0;
        border-radius: 0;
        font-size: 30px;
        padding: 20px;
        margin-right: 20px;
        background-color: $yellow;

        &:last-child {
          margin-right: 0;
        }
      }

      &--reset {
        background-color: $yellow;
      }

      &--info {
        background-color: $blue;
      }

      &--setup {
        background-color: $red;
      }
    }
  }
}
