.ErrorMessage {
  position: absolute;
  top: 0;
  display: inline-table;
  padding: 20px 30px;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);

  &__error {
    color: #ff0000;
  }
}
