.Keyboard {
  $keyboard-width: 912px;

  position: absolute;
  bottom: 0;
  left: 50%;
  width: $keyboard-width;
  margin-left: -$keyboard-width / 2;
  z-index: 5;

  .keyboard {
    &-button {
      font-family: Flama, sans-serif;
    }

    &-close-button {
      background-color: $yellow;
    }
  }
}
