.VideoResult {
  $borderWidth: 32px;
  $top: 450px + $borderWidth;
  $left: 87px + $borderWidth;
  $width: 657px;
  $height: 364px;
  $smallVideoWidth: 211px;
  $smallVideoHeight: 132px;

  background-color: #000;
  width: $width;
  height: $height;
  position: absolute;
  left: $left;
  top: $top;

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__camera {
    width: $width;
    height: $height;
  }

  &__video {
    width: $smallVideoWidth;
    height: $smallVideoHeight;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
  }
}
