.Countdown {
  background-image: url("../img/screens/countdown.png");
  font-family: Flama, sans-serif;
  font-weight: bold;
  text-align: center;

  &__countdown {
    font-size: 435px;
    line-height: 435px;
    opacity: .9;
  }

  &__instruction {
    font-size: 121px;
    line-height: 121px;
    margin-top: 40px;
  }

  &__icon {
    margin-top: 110px;
  }

  &__jerseys {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1624px;
    width: 100%;
    margin: 110px auto 0 auto;

    &-jersey {
      width: 25%;
      text-align: left;
      margin-bottom: 45px;
    }
  }
}
