.Data {
  &__result {
    $top: 450px;
    $left: 87px;
    $width: 657px;
    $height: 364px;

    background-color: #000;
    width: $width;
    height: $height;
    position: absolute;
    left: $left;
    top: $top;

    img {
      width: 100%;
    }
  }

  .Record {
    position: absolute;
    top: 493px;
    left: 95px;
    transform-origin: 0 0;
    transform: scale(0.455);
    border: 8px solid #fff;
  }

  &__form {
    input {
      &:focus {
        outline: none;
      }
    }

    &-field {
      position: absolute;
      top: 0;
      left: 1141px;

      &--input {
        width: 687px;
        height: 54px;

        &:nth-child(1) {
          top: 160px;
        }

        &:nth-child(2) {
          top: 282px;
        }

        &:nth-child(3) {
          top: 407px;
        }

        input {
          width: 100%;
          height: 100%;
          background-color: #fab712;
          border: none;
          font-size: 32px;
          padding: 0 20px;
        }
      }

      &--checkbox {
        &-terms {
          top: 567px;
        }

        &-under25, &-over25 {
          top: 643px;
        }

        &-under25 {
          //
        }

        &-over25 {
          left: 1454px;
        }

        &-comms {
          display: none;
          top: 660px;
        }
      }
    }
  }

  &__terms {
    position: fixed;
    display: none; //
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    background-color: #fab712;
    z-index: 8;
    font-family: Flama, sans-serif;
    border: 5px solid #000;
    overflow: auto;

    &-inner {
      padding: 50px;
    }


    &-title {
      font-size: 70px;
      font-weight: 600;
    }

    &-content {
      //

      > p {
        font-size: 35px;
      }
    }

    &-close {
      position: absolute;
      top: 0;
      right: 0;
      width: 70px;
      height: 70px;
      font-size: 70px;
      line-height: 1;
      text-align: center;
      color: #000;
    }

    &--active {
      display: block;
    }
  }

  .Keyboard {
    display: table;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: translateY(70%);
  }
}
