.Error {
  width: 100%;
  height: 100%;
  background-color: $red;
  display: flex;
  align-items: center;
  justify-content: center;

  &__message {
    max-width: 760px;
  }

  p {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
  }

  button {
    font-size: 20px;
    font-weight: bolder;
    border: 0;
    border-radius: 0;
    padding: 20px;
    background-color: $yellow;
    margin: 50px auto 0 auto;
    display: block;
    color: #333;
  }

  ul {
    padding: 0;
    font-size: 25px;
    color: #fff;
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
}
