.Landing {
  background-image: url("../img/screens/landing.png");

  &__countdown {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50%;
  }

  &__location-img {
    position: absolute;
    top: 22px;
    left: 1190px;
  }
}
