.Photo {
  background-image: url("../img/screens/photo.png");
  font-family: Flama, sans-serif;
  font-weight: bold;
  text-align: center;

  &__count {
    position: absolute;
    top: 338px;
    right: 0;
    width: 392px;
    font-size: 55.06px;
    color: #fff;
  }

  &__countdown {
    width: 392px;
    height: 530px;
    position: absolute;
    right: 0;
    bottom: 122px;

    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      padding: 72px 0;
      height: calc(100% - 144px);
    }

    &--feedback {
      align-items: center;
      justify-content: center;
    }

    &-number {
      font-size: 201.04px;
      line-height: 160px;
    }

    &-instruction {
      font-size: 55.83px;
    }
  }

  &__flash {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
    opacity: 0;

    &--show {
      animation: flash 1s ease;
    }

    &--hide {
      display: none;
    }

    @keyframes flash {
      40%, 60% {
        opacity: 1;
      }
    }
  }

  &__video {
    width: 1528px;
    height: 958px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    transform: scale(-1, 1);

    video {
      height: 100%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
