.Record {
  background-image: url("../img/screens/record.png");

  &__camera {
    $borderWidth: 8px;
    z-index: 1;
    position: absolute;
    top: 15px;
    left: 24px;
    width: #{587px - ($borderWidth * 2)};
    height: #{347px - ($borderWidth * 2)};
    background-color: #000;

    video {
      width: calc(100% - #{$borderWidth * 2});
      height: calc(100% - #{$borderWidth * 2});
      border: $borderWidth solid $yellow;
    }
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &__timer {
    color: #fff;
    font-family: Flama, sans-serif;
    font-size: 79px;
    line-height: 79px;
    position: absolute;
    top: 30px;
    left: 1685px;
  }

  &__jerseys {
    width: 392px;
    height: 682px;
    top: 260px;
    right: 0;
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;

    &-jersey {
      margin-left: 40px;
    }
  }

  &__intro-message {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: table;
    width: 100%;
    font-family: Flama, sans-serif;
    font-weight: bold;
    font-size: 121px;
    text-align: center;
    color: #fff;
  }

  &__confirm-restart {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &-background {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      background-color: rgba(0, 0, 0, 0.6);
    }

    &-box {
      background-color: #fff;
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      z-index: 1;

      &-title {
        font-size: 40px;
        margin-bottom: 20px;
      }

      &-buttons {
        position: relative;

        button {
          border: 0;
          border-radius: 0;
          font-size: 30px;
          padding: 20px;
          background-color: $yellow;

          &:last-child {
            margin-left: 20px;
            background-color: $red;
          }
        }
      }
    }
  }
}
