@font-face {
  font-family: "Flama";
  src: url("../fonts/Flama-Bold.eot");
  src: url("../fonts/Flama-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Flama-Bold.woff") format("woff"),
  url("../fonts/Flama-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Flama Book";
  src: url("../fonts/Flama-Book.eot");
  src: url("../fonts/Flama-Book.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Flama-Book.woff") format("woff"),
  url("../fonts/Flama-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
