html, body, #app, .Wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: Flama, sans-serif;
  font-weight: bold;
}

.Wrapper {
  &--dev {
    .Touchable {
      background-color: rgba(255, 0, 0, .4);
    }
  }
}

::-webkit-scrollbar {
  display: none;
}
